@import "../../common/common_style.css";
@charset "UTF-8";

@media (max-width: 361px){
    header input{
        width: 90%;
        display: block;
        margin: auto;
    }

    .hideSmall{
        display: none;
    }
}

@media (max-height: 480px){
    body{
        margin-top: -100px;
    }

    .retour{
        background: green;
        margin-right: -175px;
        margin-top: -30px;
    }

    .retour:hover, .retour:focus{

        margin-right: 0;
        margin-top: 0;
        opacity: 1.0;
    }
}

.retour{
    transition: 2s;
}

.hideSmall{
    transition: display 2s;
}

body{
    transition: 2s;
}

h1{
    color: red;
    font-family: Pacifico;
}

.containerTodo{
    border: solid;
    border-color: #ff0000;
    border-radius: 50px;
    padding: 15px;
    width: 80%;
    margin: auto;
    text-align: center;
    animation-name: glowing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes glowing{
    0%{box-shadow: inset 0 0 0px #ff0000;}
    50%{box-shadow: inset 0 0 50px #ff0000;}
    100%{box-shadow: inset 0 0 0px #ff0000;}
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

body{
    transition: 2s;
}

.hideSmall{
    color: red;
    font-weight: bold;
    margin-right: 15px;
}

#input{
    background-color: #ff0000;
    border: none;
    padding: 15px;
    border-radius: 25px;
    box-shadow: inset 0px 0px 15px black;
    width: 75%;
    font-weight: bold;
    display: inline-block;
}

::-webkit-input-placeholder {
    color: rgba(0,0,0, 0.4);
}

::-moz-placeholder {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
}

.alltasks{
    justify-items: center;
}

article{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 90%;
}

article *{
    transition: 0.5s;
}

img{
    width: 15px;
}

.text{
    color: white;
    box-sizing: border-box;
    text-align: left;
    margin-left: 15px;
    margin-right: 10px;
    line-height: 15px;
    padding: 4px;
    flex: 1;
}

.text:focus{
    background-color: white;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

article img:hover, article img:focus{
    box-shadow: 0px 0px 15px 3px white;
    background: white;
    border-radius: 8px;
}

.text:hover{
    background-color: rgba(250,250,250,0.3);
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-radius: 3px;
    color: white;
    font-weight: normal;
}

article input:hover, article input:focus {
    box-shadow: 0px 0px 10px 3px white;
}

#donelist{
    text-decoration: line-through;
    color: red;
    opacity: 0.6;
}

#todolist:empty::after{
    content: "Veuillez entrer une nouvelle tâche à faire svp!";
    font-style: italic;
    font-family: serif;
    color: lime;
}

.footerButtons{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    display: flex;
    background: white;
    opacity: 0.7;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.footerButtons button{
    border: solid 1px gray;
    color: cyan;
    background-color: white;
    mix-blend-mode: difference;
    padding: 5px;
    cursor: pointer;
    flex: 1;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.footerButtons button:hover, .footerButtons button:focus{
    text-shadow: 2px 2px 2px #0088ff;
    color: #0088ff;
}

.footerButtons button:disabled{
    display:none;
}